[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
uvicorn = "*"
email-validator = "*"
sqlalchemy = "*"
pydantic-settings = "*"
psycopg2 = "*"
argon2-cffi = "*"
psutil = "*"

[dev-packages]
types-psutil = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
